<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobLabel" jhiTranslate="jhipsterMerckDemoApp.job.home.createOrEditLabel">Create or edit a Job</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!job.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="job.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMerckDemoApp.job.jobTitle" for="field_jobTitle">Job Title</label>
            <input type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                [(ngModel)]="job.jobTitle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMerckDemoApp.job.minSalary" for="field_minSalary">Min Salary</label>
            <input type="number" class="form-control" name="minSalary" id="field_minSalary"
                [(ngModel)]="job.minSalary" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMerckDemoApp.job.maxSalary" for="field_maxSalary">Max Salary</label>
            <input type="number" class="form-control" name="maxSalary" id="field_maxSalary"
                [(ngModel)]="job.maxSalary" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterMerckDemoApp.job.employee" for="field_employee">Employee</label>
            <select class="form-control" id="field_employee" name="employee" [(ngModel)]="job.employeeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="jhipsterMerckDemoApp.job.task" for="field_task">Task</label>
            <select class="form-control" id="field_task" multiple name="task" [(ngModel)]="job.tasks">
                <option [ngValue]="getSelected(job.tasks, taskOption)" *ngFor="let taskOption of tasks; trackBy: trackTaskById">{{taskOption.title}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
