<div>
    <h2>
        <span jhiTranslate="jhipsterMerckDemoApp.department.home.title">Departments</span>
        <button class="btn btn-primary float-right jh-create-entity create-department-my-suffix" [routerLink]="['/', { outlets: { popup: ['department-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterMerckDemoApp.department.home.createLabel">
            Create new Department
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="departments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterMerckDemoApp.department.departmentName">Department Name</span></th>
            <th><span jhiTranslate="jhipsterMerckDemoApp.department.location">Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let department of departments ;trackBy: trackId">
                <td><a [routerLink]="['../department-my-suffix', department.id ]">{{department.id}}</a></td>
                <td>{{department.departmentName}}</td>
                <td>
                    <div *ngIf="department.locationId">
                        <a [routerLink]="['../location-my-suffix', department.locationId  ]" >{{department.locationId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../department-my-suffix', department.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'department-my-suffix/'+ department.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'department-my-suffix/'+ department.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
